@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body {
    background-color: #E5E5E5;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
     
}
 a:active{
     color: #FFFF00;
 }
a:link,a:visited{
     color: #000000;
     font-weight: bold;
     text-decoration: none;
 }
 header .active{
     color: #1B98E0;
 }
 footer .active{
     color: #1B98E0;
 }


/*header*/
header {
    height: 80px;
    background-color: #E5E5E5;
    margin-bottom: 10px;
}

#slider img {
    margin: 50px;
    width: 100%;
}

.item-block {
    background-color: rgba(36, 123, 160, 0.5);
    margin: 20px 12%;
    padding:30px 40px 0 40px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    box-shadow: 0 0 10px rgba(36,123,160,0.5);
   
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}




/*menu*/
#menu {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    float: left;
    padding-top: 30px;
    display: inline;
}

#menu > ul > li {
    display: inline;
    padding: 8px 25px;

}


/*logo*/
#logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    font-size: 20px;
    float: left;
}

#logo > a > img {
    width: 80px;
    height: 80px;
    border-radius: 40px;

}

/*right-head-block*/
#right-head-block {
    float: right;
    width: 440px;
    text-align: center;
}

#right-head-block a {
    color: #FFFFFF;
}

#btn-profile {
    height: 80px;
    width: 160px;
    background: #247BA0;
    float: left;
}

#btn-profile > img {
    display: block;
    margin: 2px auto 4px auto;
    width: 52px;
    height: 52px;
}

#btn-search {
    height: 80px;
    width: 120px;
    background: #006494;
    float: left;
    font-size: 3.5em;
    padding-top: 15px;
    color: #FFFFFF;

}

#btn-help {
    height: 80px;
    width: 160px;
    background: #1B98E0;
    float: left;
    padding-top: 32px;

}

#we-can > h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

#idea-help > h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 50px;

}

#about > p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 50px;


}

/*main-conteiner*/
.main-container {
    text-align: center;
}
#main-block{
    
}
.item-container {
    width: 1000px;
    height: 300px;
    border: 2px solid #006494;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    position: relative;
    margin: 100px auto;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
  
}
.item-num{
    font-size: 10em;
    font-weight: bolder;
    color: #006494;
    position: absolute;
    left: -30px;
    top: -80px;
    
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 500px;
    margin: auto;
    
}
#partners{
    text-align: center;
   
}
.item-partner>img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}    

#news{
    margin: 0 50px;
}
#news H1{
    text-align: center;
}
.item-news{
    display: block;
    width: 80%;
    height: 60%;
    margin: 35px auto;
    border-radius: 5px;

}
footer{
    height: 400px;
    width: 100%;
    background: #C4C4C4;
    margin-top: 100px;
    
    
}
.menu-footer>li{
 list-style: none;
 padding: 15px 30px;  
 font-family: Roboto,sans-serif;
 font-size: 13px;
}
 
    
.icon-footer{
 padding: 200px 0 0 100px;
}
#icon-mail{
    padding-top: 30px;
}
   #wrap {
            min-height: 100%;
            height: auto;
            margin: 0 auto -60px;
            padding: 0 0 60px;
        }

        #wrap > .container {
            padding: 70px 15px 20px;
        }
        #register h1 {
            font-size: 3em;
            font-weight: bolder;
            margin: 30px 0;
        }
/*advert*/


img.item-advert{
    display: block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 auto;
}
img.will-give{
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
       
}
img.main-news{
    display: block;
    height: 150px;
    width: 150px;
    margin: 10px auto 30px auto;
}

/* --------------- news -------------------*/
#news{
   margin-top: 80px;
}
#news.container img{
    display: block;
    height: 100px;
    width: 100px;
    
}
#newsfull.container img{
    display: block;
    height: 100px;
    width: 100px;
    
}
.social i {
    color: green; 
    font-size: 28px;
}
a.moredetails {
    text-decoration: underline;
    color: #1B98E0;
   text-align: right;
   display: block;
}
/*----------advert-full-------------*/
.socialNetworks{
    color: #1B98E0;
    margin-bottom: 20px;
   
}
.othersadv{
    margin-bottom: 40px;
}
.advertImgs{
    width: 50px;
    padding-bottom: 20px;
}
#file-input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.advertAdd{
   
}
.btn-circle{
    width: 120px;
    height: 120px;
    border-radius: 70px;
    text-align: center;
    margin: 20px 50px;  
}
/*-----message----------*/
.btn-primary{
    float: right;
}
#createMessage{
    margin: 20px 20px;
}
/*------myoffice----------*/

.tabs{
    list-style: none;
   
}
.tabs> li{
    display: inline;
    padding: 0px 10px;
    border-right: 1px solid #C4C4C4;
    font-size: 20px;
    font-weight: normal;
    color: #1B98E0;
    text-decoration: underline;
}
/*--------------------*/
table{
    border-color: #C4C4C4;
    text-align: center;
    margin-left: 10px;
    table-layout: fixed;
    width:100%;
}

.Adv-left>tr>th{
    padding: 5px 20px 5px 5px;
}
/*-----partners--------*/
#mainPartners> .container img{
    margin: 50px 50px;
    text-align: center;
}
/*-------ideahelp-------------*/
#aboutIdea {
    width: 800px;
    height: 200px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    margin: 50px 0 0 50px;
}
img .kids{
    display: block;
    width: 200px;
    height: 200px;
    float: right;
    
}
/*------project----------*/
#wrap > .container {
    padding: 70px 15px 20px;
   
}
#project-title h1{
    text-align: center;
}


#project-hand h2{
position: absolute;
color: #46b8da;
right: 50px;
top: 400px;
transform: rotate(10deg) ;  
 
}
#project-hand img{
width: 50%;
float: right;
margin-top: 20%;
margin-bottom: 20%;

 
}
#project-body{
    position: relative;
    margin-top: 10%;
}   
.palets{
    position: absolute;
    display: flex;
    align-items: center;
   
}
.palets img{
    display: block;
    width: 100px;
    float: right;
  
}
#palets1{
    position: absolute;
    left: 480px;
    top: 70px;
    transform: rotate(50deg);
    width: 30%;
    text-align: center;
}
#palets2{
    position: absolute;
    left: 300px;
    top: 160px;
    transform: rotate(40deg);
    width: 30%;  
    text-align: center;
}
#palets3 {
    position: absolute;
    left: 230px;
    top: 300px;
    transform: rotate(5deg);
    width: 30%; 
    text-align: center;
}
#palets4 {
    position: absolute;
    left: 250px;
    top: 450px;
    transform: rotate(-20deg);
    width: 32%;
    text-align: center;
   
}
#palets5 {
    position: absolute;
    left: 350px;
    top: 550px;
    transform: rotate(-40deg);
    width: 32%;
    text-align: center;
    
    
}
.palets h4{
    width: 70%;
}
/*------myOffice-myAdvert--------*/
a.active{
   color: #006494; 
   
}


    

   
